[ req ]
distinguished_name = req_distinguished_name
x509_extensions = v3_ext
prompt = no

[ req_distinguished_name ]
countryName = FI
localityName = HELSINKI
organizationName = Some Company Name
organizationIdentifier = PSDFIN-FINFSA-1234567-8
commonName = domain.com
serialNumber = 12345678

[ v3_ext ]
basicConstraints = critical,CA:FALSE
keyUsage = critical,digitalSignature
certificatePolicies = @policies
subjectAltName = @alt_names
crlDistributionPoints = @crl_info
authorityInfoAccess = @auth_info
1.3.6.1.5.5.7.1.3 = DER:{raw_der_goes_here}

[ policies ]
policyIdentifier = 1.3.6.1.4.1.21528.2.1.1.100
CPS.1 = https://example.com/qcps
userNotice.1 = @notice1
userNotice.2 = @notice2
userNotice.3 = @notice3

[ notice1 ]
explicitText = "Test qualified certificate for electronic seal (Bronze)."

[ notice2 ]
explicitText = "The provider preserves registration data for 10 years after the expiration of the certificate. The subject of the test certificate is a legal person."

[ notice3 ]
explicitText = "TEST certificate issued only for testing purposes. The issuer is not liable for any damages arising from the use of this certificate!"

[ alt_names ]
otherName.1 = 1.3.6.1.5.5.7.8.3;FORMAT:UTF8,UTF8:domain.com

[ crl_info ]
URI.1 = http://test.company.hu/Some.crl

[ auth_info ]
OCSP;URI.1 = http://test.company.hu/testca
caIssuers;URI.1 = http://test.company.hu/CA.crt
